@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar .";
}

/* Sidebar styling */

.sidebar {
  color: white;
  padding: 1.3rem;
  background-color: #0ea5e9;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 3rem;
  align-content: start;
}

.options > span,
.title > span,
.top-part > span {
  font-size: 1.3rem;
  font-weight: bold;
}

.title {
  align-self: start;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.settings1,
.settings2 {
  display: grid;
  row-gap: 16px;
}

.options {
  display: flex;
  align-items: center;
  column-gap: 35px;
}

.options > span:hover,
.options > img {
  cursor: pointer;
  text-decoration: underline;
}
/* Header styling */

.header {
  padding: 1.3rem;
  display: grid;
  grid-area: header;
  align-content: start;
}

.top-part {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: auto 1fr auto auto auto;
  margin-bottom: 40px;
  align-items: center;
}

input[type="search"] {
  max-width: min(300rem, 80%);
  border-radius: 30px;
  background-color: #cbd5e1;
  border: none;
  height: 1.5rem;
  font-size: 1.3rem;
  font-family: "Roboto";
}

label:hover {
  cursor: pointer;
}

.top-part > :nth-child(3):hover {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 6px;
}

.bottom-part {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  column-gap: 1rem;
}

.profile-img {
  border-radius: 30px;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-name {
  font-weight: bolder;
  font-size: 1.5rem;
}

.greeting > span:first-of-type {
  font-weight: bold;
}

button {
  color: white;
  font-weight: bold;
  background-color: #0ea5e9;
  border-radius: 30px;
  padding: 10px 30px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #1e40af;
}

/* Main Content Styling */

.project-text,
.announcement-text {
  color: black;
  font-weight: bolder;
  font-size: 1.3rem;
}

.project-title {
  color: black;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.text {
  color: black;
  font-weight: bolder;
  margin-bottom: 6px;
}

.content-container {
  color: #334155;
  padding: 1.3rem;
  background-color: #cbd5e1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 1.3rem;
  row-gap: 10px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.project {
  border-radius: 12px;
  padding: 1.3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: -6px 0px #eab308;
}

.icons {
  align-self: flex-end;
  margin-top: auto;
  display: flex;
  column-gap: 1.3rem;
}

.icons > img:hover {
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.announcement-card {
  background-color: white;
  padding: 1.3rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
}

.announcement-cards {
  border-bottom: 1px solid #64748b;
  margin-bottom: 1.3rem;
}

/* to remove the third border */
.announcement-card > div:nth-child(3) {
  border: none;
}

.trending-container {
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  row-gap: 1.3rem;
}

.trending-text {
  color: black;
  font-weight: bolder;
  font-size: 1.3rem;
  margin-top: 1.3rem;
  margin-bottom: 6px;
}

.trending-cards {
  display: flex;
  align-items: center;
  column-gap: 1.3rem;
}

.accounts {
  display: flex;
  flex-direction: column;
}

span.person {
  color: black;
  font-weight: 500;
}
